RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule .* https://kellymilligan.nz%{REQUEST_URI} [R,L]
RewriteCond %{HTTP_HOST} ^www\.kellymilligan\.nz$
RewriteRule ^/?$ "https\:\/\/kellymilligan\.nz\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^kellymilligan\.nz$ [OR]
RewriteCond %{HTTP_HOST} ^www\.kellymilligan\.nz$
RewriteRule ^work$ "https\:\/\/kellymilligan\.nz\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^kellymilligan\.nz$ [OR]
RewriteCond %{HTTP_HOST} ^www\.kellymilligan\.nz$
RewriteRule ^info$ "https\:\/\/kellymilligan\.nz\/" [R=301,L]

